<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 log-x2" src="{{ leadership }}" alt="First slide" style="max-width: 100%">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="sm-biz">Leadership</h2>
                <p class="ul-product">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- navigation page to about us page -->
<section>
    <div class="container">
        <div class="row m-r">
            <div class="col-md-2 m-v">
                <h2>Mission & Vision</h2>
            </div>
            <div class="col-md-2 m-v">
                <h2>Who we are</h2>
            </div>
            <div class="col-md-2 m-v">
                <h2>Cultural Values</h2>
            </div>
            <div class="col-md-2 m-v">
                <h2>Leadership</h2>
            </div>
            <div class="col-md-2 m-v">
                <h2>Portfolio</h2>
            </div>
            <div class="col-md-2 m-v">
                <h2>Partners</h2>
            </div>
        </div>
    </div>
</section>