<!-- image displayed here -->
<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 log-x2" src="{{ leadership }}" alt="First slide" style="max-width: 100%">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="sm-biz">Leadership</h2>
                <p class="ul-product">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- navigation page to about us page -->
<section>
    <div class="container">
        <div class="row m-r">
            <div class="col-md-2 m-v">
                <a routerLink="/mission">
                    <h2>Mission & Vision</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/whoweare">
                    <h2>Who we are</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/cultural">
                    <h2>Cultural Values</h2>
                </a>
            </div>
            <div class="col-md-2 m-v m-l">
                <a routerLink="/leadership">
                    <h2>Leadership</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/portfolio">
                    <h2>Portfolio</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/partner">
                    <h2>Partners</h2>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- Leadership page starts here  -->
<section class="ld-grey">
    <div class="cont-lead">
        <div class="row lead-space">
            <div class="col-md-4">
                <div class="space-ceo">
                    <div class="ceo-p ld-1">
                        <div class="lm-2">
                            <img src="{{ ceo }}" class="img-responsive">
                        </div>
                        <h1>Sam S. O. Afemikhe</h1>
                        <h2>GMD/CEO</h2>
                        <p>Mr. Sam S. O. Afemikhe is the founder and Managing Partner of S.S Afemikhe and Company. With over 30 years in practice, he has extensive Public practice experience having worked in various accounting firms in Nigeria and overseas
                            in various capacities. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="space-ceo">
                    <div class="ceo-p ld-1">
                        <img src="{{ ceo }}" class="img-responsive">
                        <h1>Anthony E. Iniomoh</h1>
                        <h2>Managing Partner</h2>
                        <p>Anthony E. Iniomoh is a graduate of Accounting. An Associate member of both the Institute of Chartered Accountants of Nigeria (ICAN) and Certified Institute of Cost Management Nigeria. He possesses an MBA in Finance from Ladoke
                            Akintola University.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="space-ceo">
                    <div class="ceo-p ld-1">
                        <img src="{{ ceo }}" class="img-responsive">
                        <h1>Sam S. O. Afemikhe Jr</h1>
                        <h2>CEO/Ikooba Tech</h2>
                        <p>Sam Afemikhe Jr’s main areas of focus are Upstream Oil & Gas, Corporate Strategy, Change Management, Business Process Improvement and People Development. Prior to joining S.S Afemikhe Consulting, Sam held a number of positions
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row lead-space">
            <div class="col-md-4">
                <div class="space-ceo">
                    <div class="ceo-p ld-4">
                        <img src="{{ ceo }}" class="img-responsive">
                        <h1>Greg G. O. Afemikhe</h1>
                        <h2>CEO/Transmetrics</h2>
                        <p>Greg is a versatile consultant who qualified as a Chartered Accountant over 10 years ago. He has established himself in various capacities and has developed his international career as a seasoned Business Development Consultant
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="space-ceo">
                    <div class="ceo-p ld-5">
                        <img src="{{ ceo }}" class="img-responsive">
                        <h1>Sam S. O. Afemikhe</h1>
                        <h2>CEO</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="space-ceo">
                    <div class="ceo-p ld-6">
                        <img src="{{ ceo }}" class="img-responsive">
                        <h1>Sam S. O. Afemikhe</h1>
                        <h2>CEO</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>