<!-- contact us details here -->
<section>
    <div class="container">
        <div class="con-us">
            <div class="bnd-x1">
                <span class="txt-1">You want more advanced feature</span>
                <span class="btn btn-us btn1-us text-left">Contact Us</span>
            </div>
        </div>
    </div>
</section>

<section class="foot-color">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="ul-media">
                    <li class="active">Menu</li>
                    <li>Home</li>
                    <li>About us</li>
                    <li>Our Services</li>
                    <li>Career</li>
                    <li>Industry</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="ul-media">
                    <li class="active">Contact Us</li>
                    <li>Plot 46, Adewale Ishawu Str,<br> Off Modupe Johnson Crescent, <br>Surulere, Lagos.
                    </li>
                    <li>0706-857-6214</li>
                    <li>0706-857-6214</li>
                    <li>Info@ssacltd.com</li>

                </ul>
            </div>
            <div class="col-md-4">
                <ul class="ul-media">
                    <li class="active">Our Services</li>
                    <li>Business Advisory Services</li>
                    <li>Accounting & Assurance</li>
                    <li>Tax Advisory Services</li>
                    <li>Support to small start-ups</li>

                </ul>
            </div>
        </div>
        <div class="text-center foot-bot">
            <h2>ssacltd.com&copy;2019</h2>
        </div>
    </div>

</section>