<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 log-x2" src="{{ mission }}" alt="First slide" style="max-width: 100%">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="sm-biz">Publication</h2>
                <p class="ul-product">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- navigation page to about us page -->
<section>
    <div class="container">
        <div class="row m-r">
            <div class="col-md-6 m-v m-l">
                <a routerLink="/publication">
                    <h2>Publication</h2>
                </a>
            </div>
            <div class="col-md-6 m-v">
                <a routerLink="/newsletter">
                    <h2>Newsletter</h2>
                </a>
            </div>
        </div>
    </div>
</section>

<!--  -->
<section class="bk-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 audit">
                <h2>Business registration</h2>
                <p>As a pioneer of Value for money and Public Procurement reviews in Nigeria , the Managing Director of S.S. Afemikhe Consulting Limited, Sam S. O. Afemikhe has put his extensive knowledge and experience in these fields in two widely distributed
                    books: <br><br> The Pursuit of Value for Money published by Spectrum Books Limited (2003) -(read more)
                    <br><br> Budget Implementation and Value for Money – The Due Process Experience' published by Spectrum Books Limited (2005) - (read more) <br><br> Press Release - National Stakeholders Working Group (Nswg) Of The Extractive Industry
                    Transparency Initiative (Eiti). <br><br> The Presidency, State House. (read more)<br><br> Press Release - National Stakeholders Working Group (Nswg) Of The Extractive Industry Transparency Initiative (Eiti).<br><br>The Presidency,
                    State House. (read more)</p>
                <p>The Company is regularly invited to present papers on Value for Money, procurement and other developmental topics. Some of the papers presented are:<br><br> Paper presented to The Senate Committee on Establishment and PublicService on
                    The Public Hearing on the Procurement Bill. (read more)<br> <br>Concept and Application of Performance and Value for Money in the Public Sector – Presented at the National Training workshop on audit and management in the Public Sector
                    (Organised by the Society of Chartered accountants in the Public Sector) – (read more)<br> <br>Value for Money Based Internal Audit and Control Techniques Organised by The Institute of Chartered Accountants of Nigeria (ICAN) Ikeja
                    District Society. (read more)<br><br> A paper on Resource utilization and Value for Money -presented at the workshop of the Policy Analysis and Research Project (PARP) - The National Assembly (read more)<br><br> A paper on The Procurement
                    Reform Stakeholders Conference. An Overview of The Normative Characteristics of a Value Adding Public Procurement System. (read more)<br><br> Presentation of the overview of the book titled “The Pursuit of Value for Money” to students
                    of Yaba College of Technology. – (read more) <br><br>Resource Utilization and Value for Money – presented to The Social Economic Rights Initiative (SERI) - (read more) <br><br>A paper on Transparency Reforms in the Extractive Industry
                    – (The Nigerian Experience) – presented at the National Training Workshop on Economic Reforms and the Management of Public Resources.(read more)<br><br> A paper on The Due Process Mechanism & The management of Public Resources – (Private
                    Sector Perspective) - presented at the National Training Workshop on Economic Reforms and the Management of Public Resources</p>
            </div>
        </div>
    </div>
</section>