/* navigation for about page */

.m-v h2 {
    font-size: 14px!important;
    font-family: ABeeZee;
    margin-bottom: 0px!important;
}

.m-v {
    text-align: center!important;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.m-r {
    box-shadow: 2px 3px 15px 0px #e0e0e0!important;
    margin-top: 40px;
    margin-bottom: 40px;
}

.m-l {
    background-color: #EB5508!important;
    color: #fff!important;
}

.m-l a {
    color: #fff!important;
}

.m-v a {
    color: #000000;
    text-decoration: none!important;
}

.m-v a:hover {
    text-decoration: none!important;
}


/* navigation ends here */


/* styling for portfolio start here */

.bk-port {
    background-color: #f8fafb;
}

.o-g h2 {
    padding-top: 35px;
    padding-bottom: 25px;
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: 700;
    /* color: #EB5508; */
}

.center-port {
    text-align: center!important;
}

.first-port {
    padding-bottom: 50px;
}


/* images details goes here */

.sm-biz {
    font-size: 40px;
    font-weight: 700;
    font-family: ABeeZee!important;
    padding-bottom: 30px;
}

.ul-product {
    font-size: 20px;
    font-weight: 500;
    font-family: ABeeZee!important;
    padding-bottom: 60px;
    max-width: 80%;
    margin: auto!important;
}