<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 log-x2" src="{{ cultural }}" alt="First slide" style="max-width: 100%">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="sm-biz">Cultural Values</h2>
                <p class="ul-product">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- navigation page to about us page -->
<section>
    <div class="container">
        <div class="row m-r">
            <div class="col-md-2 m-v">
                <a routerLink="/mission">
                    <h2>Mission & Vision</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/whoweare">
                    <h2>Who we are</h2>
                </a>
            </div>
            <div class="col-md-2 m-v m-l">
                <a routerLink="/cultural">
                    <h2>Cultural Values</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/leadership">
                    <h2>Leadership</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/portfolio">
                    <h2>Portfolio</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/partner">
                    <h2>Partners</h2>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- content for cultural stuff starts here -->
<section class="cult">
    <div class="container">
        <div class="row core-cult space-cult">
            <div class="col-md-4 list-cult">
                <img src="{{ excellence }}" alt="mission" class="img-responsive">
                <h2>Pursuit of excellence</h2>
            </div>
            <div class="col-md-4 list-cult">
                <img src="{{ service }}" alt="mission" class="img-responsive">
                <h2>Dedication to service</h2>
            </div>
            <div class="col-md-4 list-cult">
                <img src="{{ integrity }}" alt="mission" class="img-responsive">
                <h2>Stance of integrity</h2>
            </div>
        </div>
        <div class="row core-cult list-cult">
            <div class="col-md-4">
                <img src="{{ teamwork }}" alt="mission" class="img-responsive">
                <h2>Teamwork and harmony</h2>
            </div>
            <div class="col-md-4 list-cult">
                <img src="{{ respect }}" alt="mission" class="img-responsive">
                <h2>Respect for the individual</h2>
            </div>
            <div class="col-md-4 list-cult">
                <img src="{{ equity }}" alt="mission" class="img-responsive">
                <h2>Equity and fairness</h2>
            </div>
        </div>
    </div>

</section>

<section class="cult">
    <div class="container">
        <div class="sha-per">
            <h2>The Promise</h2>
            <p>It is a long establish fact that readers will be distracted by the readable</p>
        </div>
        <div class="row han-df">
            <div class="col-md-6">
                <div class="icon-pr">

                    <p>Handling of each client’s business case distinctively, offering a bespoke service that is fitted to their unique circumstance</p>
                </div>
            </div>
            <div class="col-md-6">
                <p>Adoption of a ‘shared interest’ approach with our Clients, where our client’s success is our success</p>
            </div>
        </div>
        <div class="row han-df">
            <div class="col-md-6">
                <p>Defining and achieving the highest standards of performance by providing high quality solutions that adds value</p>
            </div>
            <div class="col-md-6">
                <p>An emphasis on solutions that drive the operations of our clients towards being best-in-class by eliminating waste, poor performance and process gaps</p>
            </div>
        </div>
        <div class="row han-df">
            <div class="col-md-6">
                <p>Fulfilling our responsibilities with complete integrity and commitment</p>
            </div>
            <div class="col-md-6">
                <p>Delivering more than we promised</p>
            </div>
        </div>
    </div>
</section>