<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 log-x2" src="{{ mission }}" alt="First slide" style="max-width: 100%">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="sm-biz">Mission</h2>
                <p class="ul-product">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- navigation page to about us page -->
<section class="nav-bk">
    <div class="container">
        <div class="row m-r">
            <div class="col-md-2 m-v m-l">
                <a routerLink="/mission">
                    <h2>Mission & Vision</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/whoweare">
                    <h2>Who we are</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/cultural">
                    <h2>Cultural Values</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/leadership">
                    <h2>Leadership</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/portfolio">
                    <h2>Portfolio</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/partner">
                    <h2>Partners</h2>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- content for mission & vision starts here -->
<section class="bk-grey">
    <div class="container">
        <!-- first row -->
        <div class="row">
            <div class="col-md-6 mis-g1">
                <img src="{{ ourmission }}" alt="mission" class="img-responsive">
                <h2>Our Mission</h2>
                <p>Our mission is to deliver high quality and value-adding consulting services to our clients</p>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <!-- second row -->
        <div class="row">
            <div class="col-md-6 mis-g1">
                <img src="{{ ourvision }}" alt="mission" class="img-responsive">
                <h2>Our Vision</h2>
                <p>Our vision is to become the most admired indigenous and independent financial and management consulting firm of choice in Nigeria by 2025.
                </p>
            </div>
            <div class="col-md-6 ">

            </div>
        </div>
        <!-- third row -->
        <div class="row">
            <div class="col-md-4 mis-g1">
                <img src="{{ ourvision }}" alt="mission" class="img-responsive">
            </div>
            <div class="col-md-8 ">
                <h2>In our pursuit</h2>
                <p>We will achieve this by our wide breath of experience and engaging the expertise of our extended network of indigenous and international partners whose knowledge and technical expertise gives a combination that offer our clients superior
                    value and the opportunity to maximise resources and effectively manage and minimise their business risks.</p>
            </div>
        </div>

    </div>
</section>

<!-- <section class="pur-max">
<div class="container">
    <div class="row">
        <div class="col-md-12 mis-g2">
            <h2></h2>
            <p>
            </p>
        </div>
    </div>
</div>
</section> -->