/* images details goes here */

.sm-biz {
    font-size: 40px;
    font-weight: 700;
    font-family: ABeeZee!important;
    padding-bottom: 30px;
}

.ul-product {
    font-size: 20px;
    font-weight: 500;
    font-family: ABeeZee!important;
    padding-bottom: 60px;
    max-width: 80%;
    margin: auto!important;
}


/* navigation for about page */

.m-v h2 {
    font-size: 14px!important;
    font-family: ABeeZee;
    margin-bottom: 0px!important;
}

.m-v {
    text-align: center!important;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.m-r {
    box-shadow: 2px 3px 15px 0px #e0e0e0!important;
    margin-top: 40px;
    margin-bottom: 40px;
}

.m-l {
    background-color: #EB5508!important;
    color: #fff!important;
}

.m-v a {
    color: #000000;
    text-decoration: none!important;
}

.m-v a:hover {
    text-decoration: none!important;
}

.m-l a {
    color: #fff!important;
}


/* navigation ends here */

.bk-grey {
    background-color: #f8fafb;
}

.mis-g1 img {
    width: 18%;
    padding-top: 40px;
    padding-bottom: 20px;
}

.mis-g1 {
    font-family: ABeeZee;
}

.mis-g1 h2 {
    font-weight: 600;
    padding-bottom: 20px;
}

.pur-max {
    background-color: #EB5508;
    color: #f8fafb;
}

.mis-g2 h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}