<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 log-x2" src="{{ whoweare }}" alt="First slide" style="max-width: 100%">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="sm-biz">Who we are</h2>
                <p class="ul-product">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- navigation page to about us page -->
<section>
    <div class="container">
        <div class="row m-r">
            <div class="col-md-2 m-v">
                <a routerLink="/mission">
                    <h2>Mission & Vision</h2>
                </a>
            </div>
            <div class="col-md-2 m-v m-l">
                <a routerLink="/whoweare">
                    <h2>Who we are</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/cultural">
                    <h2>Cultural Values</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/leadership">
                    <h2>Leadership</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/portfolio">
                    <h2>Portfolio</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/partner">
                    <h2>Partners</h2>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- who we are starts here -->
<section class="port-grey">
    <div class="container">
        <div class="row port-fk">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 pas-inc">
                        <div class="row">
                            <div class="col-md-2 pas-icon">
                                <i class="fa xd fa-angle-down"></i>
                            </div>
                            <div class="col-md-10 pas-line">
                                <h2>Passionate</h2>
                                <p>Since inception, we have been known to be passionate about our clients' success hence work actively to deliver value adding business solutions in an efficient and effective manner to our clients because</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pas-inc">
                        <div class="row">
                            <div class="col-md-2 pas-icon">
                                <i class="fa xa fa-angle-down"></i>
                            </div>
                            <div class="col-md-10 pas-line">
                                <h2>Integrity</h2>
                                <p>Our clients and people trust us because we stand for integrity. Over the years, our methodical process of achieving result has stood test of time and we are proud that our integrity precedes our presence</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pas-inc">
                        <div class="row">
                            <div class="col-md-2 pas-icon">
                                <i class="fa xf fa-angle-down"></i>
                            </div>
                            <div class="col-md-10 pas-line">
                                <h2>Collaborators</h2>
                                <p>We believe strongly in the power of collaboration. We partner with private and public organizations in their quest to enhance their corporate performance, deliver optimal service or products at reduced total cost of ownership
                                    and maximize stakeholders' value</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pas-inc">
                        <div class="row">
                            <div class="col-md-2 pas-icon">
                                <i class="fa xv fa-angle-down"></i>
                            </div>
                            <div class="col-md-10 pas-line">
                                <h2>Experts</h2>
                                <p>Working with our wide network of local and international associates, we cumulate years of professional expertise to deliver value driven services powered by deeply rooted culture, beliefs and goals entrenched in our quest
                                    to positively contribute to the success of our clients and the public wellbeing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</section>