<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 log-x2" src="{{ leadership }}" alt="First slide" style="max-width: 100%">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="sm-biz">Partners</h2>
                <p class="ul-product">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- navigation page to about us page -->
<section>
    <div class="container">
        <div class="row m-r">
            <div class="col-md-2 m-v">
                <a routerLink="/mission">
                    <h2>Mission & Vision</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/whoweare">
                    <h2>Who we are</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/cultural">
                    <h2>Cultural Values</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/leadership">
                    <h2>Leadership</h2>
                </a>
            </div>
            <div class="col-md-2 m-v">
                <a routerLink="/portfolio">
                    <h2>Portfolio</h2>
                </a>
            </div>
            <div class="col-md-2 m-v m-l">
                <a routerLink="/partner">
                    <h2>Partners</h2>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- Content for partner starts here -->
<section class="bk-part">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="part-n1">
                    <div class="part-img">
                        <img src="{{ image2 }}" alt="image">
                    </div>
                    <h2>Hart Group is a UK-based consulting organization with a large network of local and international associates...</h2>
                    <div class="bt-mr">
                        <button class="btn btn-more">Learn more</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="part-n1">
                    <div class="part-img">
                        <img src="{{ image3 }}" alt="image">
                    </div>
                    <h2>Turner & Townsend operates as a single global company and provides services to many sectors...
                        <!-- including oil and gas, energy, commercial, hi-tech, health, PPP, mining and transport -->
                    </h2>
                    <div class="bt-mr">
                        <button class="btn btn-more">Learn more</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="part-n1">
                    <div class="part-img">
                        <img src="{{ image4 }}" alt="image">
                    </div>
                    <h2>OnTrack Engineering provides fully aligned project management solutions. With employees and associates...
                        <!-- across North America, Europe, the Middle East, Africa and Asia, OnTrack has been supporting and advising its clients with analysis
                        and solutions to solve both day-to-day and extraordinary problems -->
                    </h2>
                    <div class="bt-mr">
                        <button class="btn btn-more">Learn more</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- second row here -->
        <div class="row">
            <div class="col-md-4">
                <div class="part-n1">
                    <div class="part-img">
                        <img src="{{ image5 }}" alt="image">
                    </div>
                    <h2>FAIC is a professional organisation that carry out financial advisory, consultancy and asset management...</h2>
                    <div class="bt-mr">
                        <button class="btn btn-more">Learn more</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="part-n1">
                    <div class="part-img">
                        <img src="{{ image6 }}" alt="image">
                    </div>
                    <h2>Aston & McHugh are training services intermediaries connecting indigenous talent with experienced experts...
                        <!-- including oil and gas, energy, commercial, hi-tech, health, PPP, mining and transport -->
                    </h2>
                    <div class="bt-mr">
                        <button class="btn btn-more">Learn more</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="part-n1">
                    <div class="">

                    </div>
                    <h2>OnTrack Engineering provides fully aligned project management solutions. With employees and associates
                        <!-- across North America, Europe, the Middle East, Africa and Asia, OnTrack has been supporting and advising its clients with analysis
                            and solutions to solve both day-to-day and extraordinary problems -->
                    </h2>
                    <div class="bt-mr">
                        <button class="btn btn-more">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content ends here -->